**/.checkstyle
**/MANIFEST.MF
**/gradle/*
**/gradlew
**/gradlew.bat
**/target/*
**/.idea
**/*.iml
*.gradle
*.bin
*.iml
*.eml
*.ipr
*.iws
*.log
*.log.gz
*.orig
*.pdb
.DS_Store
.classpath
.deployables
.factorypath
.fbIncludeFilterFile
.gradle/
.idea
.project
.settings
.svn
_svn
bin/
classes/
dist/
node_modules
overlays/
test-output/
gruntfile.js
pom.xml.versionsBackup
rebel*.xml
.rebel*.xml.bak
sino-ebid-webapp/src/main/resources/generator.xml
**/*.pdf
**/tdrfilecompose/*
**/bidfilestructuretemp/*
